<!DOCTYPE html>
<html>
  <head>
    <title>Shower Power</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25704631-5']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to 'Shower Power', root_path, class: 'brand' %>
          <ul class="nav">
            <li class="<%= request.path == root_path ? "active" : "" %>">
              <%= link_to 'Home', root_path %>
            </li>
            <li class="<%= request.path == about_path ? "active" : "" %>">
              <%= link_to 'About', about_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>

      <div id="footer">
        <hr>
        <p>
          Yet another daft wee app from
          <a href="http://woss.name" title="Notes from a Messy Desk">Graeme Mathieson</a>.
        </p>
      </div>
    </div>
  </body>
</html>
